<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnString" connectionString="Data Source=(local);initial catalog=WagonStationMobileApp;integrated security=true;"/>-->
    <!--<add name="ConnString" connectionString="Data Source=wagonstationappdevelopment.database.windows.net,1433;initial catalog=WagonStationMobileApp;User ID=WagonStationAppDev@wagonstationappdevelopment;Password=P/\55w0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!-- Kyros -->
    <add name="ConnString" connectionString= "Data Source=fmo6x9x4to.database.windows.net,1433;initial catalog=WagonStationMobileApp;User ID=wagonstationmobileapp@fmo6x9x4to;Password=P/\55w0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SmsInternationalApiUrl" value="http://api.txtlocal.com/send/" />
    <add key="SmsInternationalApiUsername" value="vikash@milesmate.com" />
    <add key="SmsInternationalSender" value="GYPAPP" />
    <add key="SmsInternationalApiHashKey" value="3d08ee9a9abdcf45887ad73a0ee0b487b441bf54" />
  </appSettings>
</configuration>