<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnString" connectionString="Data Source=(local);initial catalog=WagonStationMobileApp;integrated security=true;"/>-->
    <!--<add name="ConnString" connectionString="Data Source=wagonstationappdevelopment.database.windows.net,1433;initial catalog=WagonStationMobileApp;User ID=WagonStationAppDev@wagonstationappdevelopment;Password=P/\55w0rd;Trusted_Connection=False;Encrypt=True;" />-->
    <!-- Kyros -->
    <!--<add name="ConnString" connectionString="Data Source=wagonstationappdevelopment.database.windows.net,1433;initial catalog=WagonStationApp_Dev;User ID=WagonStationAppDev@wagonstationappdevelopment;Password=P/\55w0rd;Trusted_Connection=False;Encrypt=True;" />-->
    <add name="ConnString" connectionString="Data Source=wagonstationappdevelopment.database.windows.net,1433;initial catalog=WagonStationApp_Dev;User ID=WagonStationAppDev@wagonstationappdevelopment;Password=P/\55w0rd;Trusted_Connection=False;Encrypt=True;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="PWD_LENGTH" value="4" />
    <add key="TwilioAccountSID" value="ACdd25677b7b4555287654ee2bcafd5523" />
    <add key="TwilioAuthenticationToken" value="580a386d0817a9d4e752452919022dc6" />
    <add key="TwilioNumber" value="+14845524309"></add>
    <add key="CountryCode" value="+91" />
    <add key="CarPictureFolder" value="Attachments/CarPicture/" />
    <add key="ProfilePictureFolder" value="Attachments/ProfilePicture/" />
    <add key="ServicePictureFolder" value="Attachments/ServicePicture/" />
    <add key="ShopPictureFolder" value="Attachments/ShopPicture/" />
    <!-- SMS -->
    <add key="SmsApiUrl" value="http://api.textlocal.in/send/" />
    <add key="SmsApiTemplateUrl" value="http://api.textlocal.in/get_templates/" />
    <add key="SmsApiHashKey" value="f36bb198a73dd253c11d60f1b0c27ffeb3711434" />
    <add key="SmsSender" value="GYPAPP" />
    <add key="SmsUsername" value="vikash@waggonstation.com" />
    <add key="SmsLocalSmsDeliveryStatus" value="http://api.textlocal.in/status_message/"/>
    
    <!-- International Sms -->
    <add key="SmsInternationalApiUrl" value="http://api.txtlocal.com/send/" />
    <add key="SmsInternationalApiUsername" value="vikash@milesmate.com" />
    <add key="SmsInternationalSender" value="MilesMate" />
    <add key="SmsInternationalApiHashKey" value="3d08ee9a9abdcf45887ad73a0ee0b487b441bf54" />
   <add key="SmsInternationalApiMessageStatus" value="http://api.txtlocal.com/status_message/" />
    
    <!-- Firebase -->
    <add key="FireBaseKey" value="AIzaSyC0sv3haKoUEpx0VLKTHC1eOYm92YmhIgU"></add>
    <add key="FireBaseApplicationId" value="AIzaSyA0YdusK5g8L2t2qz27_OJm4Y_ZMpjfVfM"></add>
    <add key="FireBaseSenderId" value="891633213597"></add>
    <add key="IsSmsTestingEnviroment" value="false"></add>

  </appSettings>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>