<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="ConnString" connectionString="Data Source=(local);initial catalog=WagonStationMobileApp;integrated security=true;"/>-->
    <!--<add name="ConnString" connectionString="Data Source=wagonstationappdevelopment.database.windows.net,1433;initial catalog=WagonStationMobileApp;User ID=WagonStationAppDev@wagonstationappdevelopment;Password=P/\55w0rd;Trusted_Connection=False;Encrypt=True;" />-->
    <!-- Kyros -->
    <add name="ConnString" connectionString="Data Source=wagonstationappdevelopment.database.windows.net,1433;initial catalog=WagonStationApp_Dev;User ID=WagonStationAppDev@wagonstationappdevelopment;Password=P/\55w0rd;Trusted_Connection=False;Encrypt=True;" />
  </connectionStrings>
</configuration>